@import url('https://fonts.googleapis.com/css2?family=Molengo&display=swap');
* {
  font-family: 'Molengo';
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  width: 0px;
}
*::-webkit-scrollbar-thumb {
  background: white;
}

body {
  min-height: 100vh !important;
}


.link:hover {
  color: gray;
  transition: 0.5s;
}

.over {
  overflow-x: auto;
}

.red {
  color: red;
}
.yellow {
  color: yellow;
}
.white {
  color: #ffff;
}

input {
  color: black;
}







@media (max-width: 1020px) {
  .header {
    height: 10vh !important;
  }
  .over {
    height: 9vh !important;
  }
}

@media (max-width: 912px) {
  .header {
    height: 8vh !important;
  }
  .over {
    height: 8vh !important;
  }
}
@media (max-width: 850px) {
  .header {
    padding-top: 20000px;
  }
}

@media (max-width: 820px) {
  .header {
    height: 8vh !important;
  }
  .over {
    height: 8vh !important;
  }
}

@media (max-width: 761px) {
  .header {
    height: 8vh !important;
  }
  .over {
    height: 8vh !important;
  }
}
@media (max-width: 770px) {
  .header {
    height: 10vh !important;
  }
  .over {
    height: 8vh !important;
  }
}

@media (max-width: 600px) {
  .register {
    width: 100% !important;
  }
}


@media (max-width: 540px) {
  .header {
    padding-top: 10px !important;
    height: 9vh !important;
  }
  .over {
    height: 9vh !important;
  }
}

@media (max-width: 420px) {
  .header {
    padding-top: 10px !important;
  }
  .over {
    height: 9vh !important;
  }

}
@media (max-width: 375px) {
  .header {
    height: 9vh !important;
  }

}
@media (max-width: 280px) {
  .header {
    height: 15vh !important;
  }
  .over {
    height: 10vh !important;
  }
  .slider {
    height: 90vh !important ;
  }
  .slider img {
    height: 50vh !important;
  }
}