@import url('https://fonts.googleapis.com/css2?family=Molengo&display=swap');
* {
  font-family: 'Molengo';
  color: white;
}
*::-webkit-scrollbar {
  width: 0px;
}
*::-webkit-scrollbar-thumb {
  background: white;
}

body {
  min-height: 100vh !important;
}

.link {
  position: relative;
}

.link::after {
  content: '';
  position: absolute;
  background: white;
  width: 0%;
  height: 1px;
  top: 0;
  left: 0;
  top: 35px;
  transition: 0.5s;
}
.link:hover::after {
  width: 100%;
  width: -100%;
}


.over {
  overflow-x: auto;
}